<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Cajeros - Proformas</div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

           <!-- Búsqueda -->
           <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
            <input
                matInput
                [autocomplete]="'off'"
                [placeholder]="'Buscar RUC'"
                (input)="filterByQuery(searchInput.value)"
                #searchInput type="text"
                (keypress)="validarNumerosGuion($event)"
            >
        </mat-form-field>
        <button
            class="ml-4 px-1 sm:px-4 min-w-10"
            mat-flat-button [color]="'primary'" (click)="consultarCi(searchInput.value)">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
            <span class="hidden sm:inline-block ml-2">Consultar</span>
        </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Lista -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(proformas$ | async) as proformas">
                <ng-container *ngIf="proformas.length > 0; else noProformas">
                    <div class="grid">
                        <!-- Header  inventory-grid z-10 sticky top-0 grid grid-cols-7 gap-8 py-4 px-6 md:px-8 shadow text-md font-semibold 
                        text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 items-center -->
                        <div
                        class="inventory-grid z-10 sticky top-0 grid grid-cols-7 gap-8 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-100 dark:bg-black dark:bg-opacity-5 items-center"
                        matSort
                        matSortDisableClear>

                            <div
                                class="hidden sm:block w-24"
                                [mat-sort-header]="'id'">
                                Código
                            </div>

                            <div
                                class="hidden sm:block w-96"
                                [mat-sort-header]="'nombreApellido'">
                                Contribuyente
                            </div>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'ruc'">
                                RUC
                            </div>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'total'">
                                Total
                            </div>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'estado'">
                                Estado
                            </div>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'montoDescuento'">
                                Descuento
                            </div>

                            <div class="hidden sm:block">Seleccione</div>

                        </div>

                        <!-- Rows inventory-grid grid grid-cols-7 items-center gap-4 py-3 px-6 md:px-8 border-b -->
                        <ng-container *ngIf="(proformas$ | async) as proformas">
                            <ng-container *ngFor="let proforma of proformas; trackBy: trackByFn">
                                <div class="inventory-grid grid grid-cols-7 items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- Código -->
                                    <div class="hidden sm:block truncate">
                                        {{proforma.id}}
                                    </div>

                                    <!-- Descripción -->
                                    <div class="truncate">
                                        {{proforma.nombreApellido}}
                                    </div>

                                    <div class="truncate">
                                        {{proforma.ruc}}
                                    </div>

                                    <div class="truncate">
                                        {{proforma.total}}
                                    </div>

                                    <div class="truncate">
                                        {{proforma.estado.descripcion}}
                                    </div>

                                    <div class="truncate">
                                        {{proforma.montoDescuento}}
                                    </div>
                                    <!-- Selected button -->
                                    <div mat-dialog-actions>
                                        <button [mat-dialog-close]="proforma"
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button 
                                            (click)="enviarDatos(proforma)">Seleccionar
                                        </button>
                                    </div> 
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true">
                    </mat-paginator>

                </ng-container>
            </ng-container>

            <ng-template #noProformas>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay Proformas!</div>
            </ng-template>

        </div>

    </div>

</div>

