<div class="relative" >

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Contribuyentes</div>

        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Búsqueda -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>

                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar por Nombre'">
            </mat-form-field>           
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden" mat-dialog-content>

        <!-- Lista -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(contribuyentes$ | async) as contribuyentes">
                <ng-container *ngIf="contribuyentes.length > 0; else noContribuyentes">
                    <div class="grid">
                        <!-- Header     -->
                        <div
                            class="inventory-grid z-10 sticky top-0 grid grid-cols-5 gap-8 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'rmc'">
                                RMC
                            </div>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'nombreContribuyente'">
                                Nombre
                            </div>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'apellidoContribuyente'">
                                Apellido
                            </div>

                            <div
                                class="hidden sm:block"
                                [mat-sort-header]="'direccionContribuyente'">
                                Dirección
                            </div>

                            <div class="hidden sm:block">Enviar</div>

                        </div>

                        <!-- Rows -->
                        <ng-container *ngIf="(contribuyentes$ | async) as contribuyentes">
                            <ng-container *ngFor="let contribuyente of contribuyentes; trackBy: trackByFn">
                                <div class="inventory-grid grid grid-cols-5 items-center gap-4 py-3 px-6 md:px-8 border-b">
                                    <!-- RMC -->
                                    <div class="hidden sm:block truncate">
                                        {{contribuyente.rmc}}
                                    </div>

                                    <!-- nombre -->
                                    <div class="hidden sm:block truncate">
                                        {{contribuyente.nombreContribuyente}}
                                    </div>

                                    <!-- apellido -->
                                    <div class="hidden sm:block truncate">
                                        {{contribuyente.apellidoContribuyente}}
                                    </div>

                                    <!-- direccion -->
                                    <div class="hidden sm:block truncate">
                                        {{contribuyente.direccionContribuyente}}
                                    </div>
      
                                    <!-- Details button -->
                                    <div mat-dialog-actions>
                                        <button [mat-dialog-close]="contribuyente"
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button 
                                            (click)="enviarDatos(contribuyente)">Seleccionar
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true">
                    </mat-paginator>

                </ng-container>
            </ng-container>

            <ng-template #noContribuyentes>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay Contribuyentes!</div>
            </ng-template>

        </div>

    </div>

</div>

